* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root { /* Enable us to use the variables along side. */
   --main-color:#6400e4;
   --box-shawdow: 0px 3px 5px 0px rgba(0,0,0,0.34);
   --hover-shawdow: 0px 4px 4px 0px rgba(0,0,0, 0.561);
   --nav-shadow: 0px 0px 10px 0px rgba(0,0,0,0.100);
   --light-black: #141c3a;
 }

body {
    font-family: "Nunito", sans-serif;
    background-color: #6400e4;
}

.container {
    width: 28%;
    margin: 100px auto;

}

/* Login Form Styling Starts... */




